
body {
  	margin: 0;
  	line-height: normal;
}

.popup-overlay {
  	display: flex;
  	flex-direction: column;
  	position: fixed;
  	inset: 0;
}


:root {
  	
  	/* Common Style Variables */
  	
  	/* Color */
  	--color-black: #000;
	--color-blue : #235ff4;
	--color-sapphire : #5760ef;
	--color-purple : #9a47e6;
	--color-red: #fa531e;
	--color-red-rgb: 250, 83, 30;
	--color-yolk: #fdd14e;
  	--color-darkorchid: var(--color-red);
	--default: var(--color-red);
  	--color-ghostwhite: #eef0f7;
  	--color-gray-100: #121212;
  	--color-gray-200: rgba(0, 0, 0, 0.6);
  	--color-gray-300: rgba(255, 255, 255, 0.95);
  	--color-lightsteelblue: #98a3c7;
  	--color-white: #fff;
	--color-white-rgb: 255, 255, 255;
	--gradient-red: linear-gradient(59deg, var(--color-red) 0%,  var(--color-yolk) 100%);
	--gradient-blue-purple: linear-gradient(59deg, #235FF4 0%, #5760EF 50%, #9A47E6 100%);
	--brand-gradient: var(--gradient-red);
	
	--purple-gradient: linear-gradient(59deg, #9A47E6 0%, rgba(154, 71, 230, 0) 100%);
	--red-gradient: linear-gradient(59deg, #fa531e 0%, rgba(var(--color-red-rgb), 0) 100%);

	--mono-gradient: linear-gradient(59deg, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0.9) 100%);
	/* linear-gradient(211.03deg, #235ff4, #5760ef 50%, #9a47e6); */
  	--gradient-fill: var(--brand-Gradient, linear-gradient(59deg, #235FF4 0.%, #5760EF 50%, #9A47E6 100%));

	--transition-popup: all 0.5s ease;
	--transition: all 0.25s ease;

	--border: 1px solid #ccc;


  	/* Gap */
  	--gap-8: 0.5rem;
  	--gap-10: 0.625rem;
  	--gap-16: 1rem;
  	--gap-24: 1.5rem;
  	--gap-32: 2rem;
  	--gap-48: 3rem;
  	
  	/* Padding */
  	--padding-12: 0.75rem;
  	--padding-24: 1.5rem;
  	--padding-48: 3rem;
  	--padding-64: 4rem;
  	
  	/* BorderRadius */
  	--br-6: 6px;
  	--br-32: 32px;
  	
  	/* Font */
  	/* --font-body: Circular Std; */
  	--font-dm-sans: 'DM Sans', sans-serif;
  	--font-passion-one: 'Passion One', cursive;
  	/* --font-body: Sofia Pro; */
	--font-body: var(--font-dm-sans);
	--font-header: var(--font-passion-one);
  	
  	/* FontSize */
  	--fs-14: 0.875rem;
  	--fs-16: 1rem;
  	--fs-18: 1.125rem;
  	--fs-48: 3rem;
  	
  	/* WidthHeights */
  	--height-12: 0.75rem;
  	--height-24: 1.5rem;
  	--height-48: 3rem;
  	
}

@media screen and (max-width: 768px) {
  	:root {
		--fs-48: 2.25rem;
		--padding-64: 1rem;
  	}
	

	
}