.logo-white {
  	height: 6.156rem;
  	position: relative;
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 0.875rem;
}
@media screen and (max-width:600px) {
	.logo-white, .logo-white svg {
		width: 60vw
	}
}
.logo-white .main-logo {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	gap: 1rem;
}
.logo-white .logo-mark-icon {
  	width: 5.469rem;
  	position: relative;
  	max-height: 100%;
}
.logo-text-icon {
  	width: 17.819rem;
  	position: relative;
  	max-height: 100%;
}
.logo-white .subtitle-icon {
  	width: 24.944rem;
  	height: 1.163rem;
}

.logo {
	background: transparent;
	transition: var(--transition);
}

.logo.scrolling {
  	background: red;
}
